<div class="container">
    <br class="container">
    <h1 class="text-center">Welcome To Skillstorm Airlines!</h1>
    <br>
    <div class="container">
        <h2 class="text-center">Our Services Include:</h2>
    </div>
    <div class="list-group list-group-horizontal justify-content-center">
        <ul>
            <li>View A List Of Flights, Passengers And Bookings</li>
            <li>Add A Flight, Passenger and Booking</li>
            <li>View A Flight And Passenger Detail Page*</li>
            <li>Delete A Flight, Passenger, and Booking Record</li>
        </ul>
    </div>
    <br>
    <div class="container">
        <h3 class="text-center">Services Under Construction:</h3>
    </div>
    <div class="list-group list-group-horizontal justify-content-center">
        <ul>
            <li>Display A Flight's Passenger List</li>
            <li>Display A Passenger's Flights</li>
            <li>Update Functionality To Flights And Passengers</li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-center">Please Direct Any Feedback To sali@skillstorm.com</h4>
</div>