<div class="container">
    <h1 class="text-center">Flights List</h1>
    <div class="text-center">
        <a href="#" routerLink="/flights/create" class="btn btn-success">+ Create A Flight</a>
    </div>
    
    <table class="table table-boardered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Flight Number</th>
                <th>Departure Date & Time</th>
                <th>Departure Airport</th>
                <th>Arrival Date & Time</th>
                <th>Arrival Airport</th>
                <th>Max Capacity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{flight.id}}</td>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.departureDateTime}}</td>
                <td>{{flight.departureAirport}}</td>
                <td>{{flight.arrivalDateTime}}</td>
                <td>{{flight.arrivalAirport}}</td>
                <td>{{flight.maxCapacity}}</td>
                <td>
                    <a href="#" [routerLink]="['/flights/view/', flight.id]" class="btn btn-info">Details</a>
                </td>
                <td>
                    <a href="#" [routerLink]="['/flights/edit/', flight.id]" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <button type="button" (click)="deleteFlight(flight.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

